/*colores*/
$colorPrimary: rgb(255, 255, 255);
$colorButton: rgb(255, 206, 206);
$colorSecondary: rgb(122, 115, 91);
$colorAlternative: rgb(213, 230, 238);
$colorText: rgb(21, 19, 18);
$colorTextAlternative: rgb(84, 84, 84);
$colorButtonSelected: rgb(243, 181, 181);
