@font-face {
  font-family: CrimsonText-SemiBold;
  src: url("../../fonts/CrimsonText-SemiBold.ttf");
}

/* font family */
$fontFamily: "CrimsonText-SemiBold";

/*font-sizes*/

$textLarge: 4.5em;
$textMedium: 2.5em;
$textNormal: 2em;
$textSmall: 1.6em;
$textXsmall: 1.4em;
