@import "./partials/maps";
@import "./partials/spacing";
@import "./partials/fonts";
@import "./partials/extends";
@import "./partials/mixins";

/*Estilos Generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
}
html {
  font-size: 62.5%;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: map-get($colors, colorText);
}
img {
  width: 100%;
}

body {
  height: 100vh;

  background-color: map-get($colors, colorPrimary);
}

@import "./partials/header";

@import "./partials/main-inicio";

@import "./partials/footer";

/* Estilos de pagina quienes-somos.html*/

.quienes {
  display: flex;
  padding: $spacingMedium;
  align-items: center;
}

.quienes__titulo {
  @extend %titulos;
}

.quienes__descripcion {
  font-size: $textMedium;
  color: map-get($colors, colorTextAlternative);
  padding: $spacingMedium;
}

/* Estilos de pagina productos.html*/

.titulo__picadas {
  @extend %titulos;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  padding: $spacingMedium;
  flex-direction: column;
  width: 100%;
}
.seccion__productos {
  display: flex;
  flex-wrap: wrap;
  padding-top: $spacingMedium;
  justify-content: space-between;
  background-color: map-get($colors, colorPrimary);
}
.producto {
  display: flex;
  flex-direction: column;
  background-color: map-get($colors, colorPrimary);
  border-radius: $spacingMedium;
  border: $spacingXsmall solid map-get($colors, colorButton);
  padding: $spacingXsmall;
  justify-content: space-between;
  margin-bottom: $spacingXsmall;
}
.producto__titulo {
  @extend %titulos;
}
.producto__img {
  height: 50rem;
  object-fit: cover;
}

.producto__detalles {
  font-size: $textNormal;
  color: map-get($colors, colorTextAlternative);
  max-width: 35rem;
}
.producto__contenedor__precio {
  justify-self: flex-end;
  padding: $spacingXsmall;
  max-width: 35rem;
}

.producto__precio {
  font-size: $textNormal;
  color: map-get($colors, colorText);
}

/* Estilos de pagina galeria.html*/
.galeria {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr) 50rem 1fr 100rem;
  gap: $spacingSmall;
  padding-top: $spacingMedium;
}
.galeria__foto img {
  object-fit: cover;
  height: 100%;
}
.galeria__foto:nth-of-type(1) {
  grid-column: 1/7;
  /* grid-row: 1/2; */
}
.galeria__foto:nth-of-type(2) {
  grid-column: 7/13;
}

.galeria__foto:nth-of-type(3) {
  grid-column: 1/7;
  /* grid-row: 2/3; */
}
.galeria__foto:nth-of-type(4) {
  grid-column: 7/13;
  /* grid-row: 2/3; */
}

.galeria__foto:nth-of-type(5) {
  grid-column: 1/13;
  /* grid-row: 3/4; */
}

.galeria__foto:nth-of-type(6) {
  grid-column: 1/7;
  /* grid-row: 4/5; */
}
.galeria__foto:nth-of-type(7) {
  grid-column: 7/13;
  /* grid-row: 5/6; */
}
.galeria__foto:nth-of-type(8) {
  grid-column: 1/13;
  /* grid-row: 4/5; */
}
/* Estilos de pagina contacto.html */

.contacto__titulo {
  @extend %titulos;
}

.contacto__contenedor__formulario {
  display: flex;
  justify-content: flex-end;
}
.contacto__descripcion {
  font-size: $textMedium;
  color: map-get($colors, colorTextAlternative);
  padding: $spacingMedium;
}
.contacto__formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.contacto__formulario label {
  color: map-get($colors, colorTextAlternative);
  font-size: medium;
  margin-top: $spacingXsmall;
  text-align: left;
  width: 40rem;
}
.contacto__formulario input {
  border-radius: 10px;
  height: 3.5rem;
  width: 40rem;
  padding-left: $spacingSmall;
}
.contacto__formulario textarea {
  border-radius: 10px;
  height: 20rem;
  width: 40rem;
  padding: $spacingSmall;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
.contacto__formulario input.contacto__formulario__boton {
  width: 15rem;
  margin-top: $spacingSmall;
  @include button(2rem, $textNormal);
  padding: 0 $spacingSmall;
  animation: animacion_boton 2s linear infinite;
}

/*Mobile*/

@media screen and (max-width: 860px) {
  body {
    height: 100vh;
  }

  .galeria {
    grid-template-rows: repeat(8, 1fr);
  }

  .galeria__foto {
    grid-column: 1/13 !important;
  }
}

/* Keyframes */

@keyframes animacion_boton {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
