@font-face {
  font-family: CrimsonText-SemiBold;
  src: url("../fonts/CrimsonText-SemiBold.ttf");
}
:root {
  /*colores*/
  --primary: rgb(255, 255, 255);
  --button: rgb(255, 206, 206);
  --secondary: rgb(122, 115, 91);
  --alternative: rgb(213, 230, 238);
  --text-color: rgb(21, 19, 18);
  --text-color-alternative: rgb(84, 84, 84);
  --button-selected: rgb(243, 181, 181);

  /*espacios*/
  --spacing-large: 6rem;
  --spacing-medium: 3rem;
  --spacing-small: 1.5rem;
  --spacing-xsmall: 1rem;

  /*font-family*/
  --font-principal: ;
  --font-title: ;

  /*font-sizes*/
  --text-large: 4.5em;
  --text-medium: 2.5em;
  --text-normal: 2em;
  --text-small: 1.6em;
  --text-xsmall: 1.4em;
}
/*Estilos Generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CrimsonText-SemiBold";
}
html {
  font-size: 62.5%;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
img {
  width: 100%;
}

body {
  height: 100vh;

  background-color: var(--primary);
}

/*Header*/

.header__links {
  padding: var(--spacing-medium);
  background: linear-gradient(
    180deg,
    rgba(249, 225, 223, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.header__links__logo {
  border-radius: 50%;
  width: 22.3rem;
  height: 22.3rem;
  border: 2px solid var(--text-color);
}
.header__links__button {
  background: linear-gradient(
    90deg,
    rgba(249, 225, 225, 1) 0%,
    rgba(241, 229, 229, 1) 100%
  );
  padding: var(--spacing-xsmall);
  text-align: center;
  border-radius: 1rem;
  font-size: var(--text-normal);
  border: 0.3rem solid transparent;
  transition: all 0.3s;
}
.header__links__button:hover {
  border-color: var(--button-selected);
  transform: scale(1.05);
}

/*Main Inicio*/

.inicio__titulo {
  font-size: var(--text-large);
  padding: var(--spacing-medium);
}

.inicio__descripcion {
  font-size: var(--text-medium);
  color: var(--text-color-alternative);
  padding: var(--spacing-medium);
}

/*Footer*/

footer {
  background: linear-gradient(
    0deg,
    rgba(249, 225, 223, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  padding: var(--spacing-small);
}

footer li a {
  color: var(--text-color);
  font-size: var(--text-normal);
}
.footer__redes {
  display: flex;
  justify-content: space-evenly;
  gap: var(--spacing-small);
}
.footer__redes img {
  height: 4.8rem;
  width: 4.8rem;
}

/* Estilos de pagina quienes-somos.html*/

.quienes {
  display: flex;
  padding: var(--spacing-medium);
  align-items: center;
}

.quienes__titulo {
  font-size: var(--text-large);
  padding: var(--spacing-medium);
}

.quienes__descripcion {
  font-size: var(--text-medium);
  color: var(--text-color-alternative);
  padding: var(--spacing-medium);
}

/* Estilos de pagina productos.html*/

.titulo__picadas {
  font-size: var(--text-large);
}

.productos {
  display: flex;
  flex-wrap: wrap;
  padding: var(--spacing-xsmall);
  flex-direction: column;
  width: 100%;
}
.seccion__productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--primary);
}
.producto {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  border-radius: var(--spacing-medium);
  border: var(--spacing-xsmall) solid var(--button);
  padding: var(--spacing-xsmall);
  justify-content: space-between;
  margin-bottom: var(--spacing-xsmall);
}
.producto__titulo {
  font-size: var(--text-medium);
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
}
.producto__img {
  height: 50rem;
  object-fit: cover;
}

.producto__detalles {
  font-size: var(--text-normal);
  color: var(--text-color-alternative);
  max-width: 35rem;
}
.producto__contenedor__precio {
  justify-self: flex-end;
  padding: var(--spacing-xsmall);
  max-width: 35rem;
}

.producto__precio {
  font-size: var(--text-normal);
  color: var(--text-color);
}

/* Estilos de pagina galeria.html*/

.galeria__foto img {
  max-height: 58rem;
  object-fit: contain;
}
/* Estilos de pagina contacto.html */

.contacto__titulo {
  font-size: var(--text-large);
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
  padding-left: var(--spacing-medium);
}
.contacto__contenedor__formulario {
  display: flex;
  justify-content: flex-end;
}
.contacto__descripcion {
  font-size: var(--text-medium);
  color: var(--text-color-alternative);
  padding: var(--spacing-medium);
}
.contacto__formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.contacto__formulario label {
  color: var(--text-color-alternative);
  font-size: medium;
  margin-top: var(--spacing-xsmall);
  text-align: left;
  width: 40rem;
}
.contacto__formulario input {
  border-radius: 10px;
  height: 3.5rem;
  width: 40rem;
  padding-left: var(--spacing-small);
}
.contacto__formulario textarea {
  border-radius: 10px;
  height: 20rem;
  width: 40rem;
  padding: var(--spacing-small);
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
.contacto__formulario input.contacto__formulario__boton {
  width: 15rem;
  margin-top: var(--spacing-small);
  padding: 0 var(--spacing-small);
  background: linear-gradient(
    90deg,
    rgba(249, 225, 225, 1) 0%,
    rgba(241, 229, 229, 1) 100%
  );
  border-radius: 1rem;
  font-size: var(--text-normal);
  border: 0.3rem solid var(--primary);
  transition: all 0.5s;
  animation: animacion_boton 2s linear infinite;
}
.contacto__formulario input.contacto__formulario__boton:hover {
  border-color: var(--button-selected);
  transform: scale(1.05);
}

/*Mobile*/

@media screen and (max-width: 860px) {
  body {
    height: 100vh;
  }
}

/* Keyframes */

@keyframes animacion_boton {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
